body {
  background-color: #121212;
}

header {
  background-color: #520e0e;
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 50px;
  height: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-bar input {
  font-size: 15px;
  width: 250px;
  height: 80%;
  margin-left: 36px;
  border-radius: 8px;
  border-color: #000000;
  background-color: darkgray;
}

main {
  padding: 20px;
}

footer {
  background-color: #520e0e;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.movies-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #121212;
}

h3 {
  font-size: 100%;
  color: #ffffff;
}

p {
  font-size: 80%;
  color: #ffffff;
}

.movie {
  margin: 10px;
  text-align: center;
}

.movie img {
  max-width: 45%;
  height: auto;
}

.rating {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.rating img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.login-button {
  float: right;
  margin-top: 10px;
}

.login-button button {
  padding: 5px 10px;
  border-radius: 8px;
  border-color: #000000;
  background-color: darkgray;
  color: #333333;
  cursor: pointer;
}